* {
  font-family: monospace;
  font-size: large;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  box-sizing: border-box;
}

html,
main {
  height: 100%;
}

body {
  background-image: linear-gradient(
    to top right,
    rgb(0, 7, 206),
    rgba(212, 71, 0, 0.363)
  );
  color: #333;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

img {
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  width: 180px;
}

section {
  background-color: rgba(255, 133, 45, 0.452);
  border: 1px solid;
  border-color: #333;
  border-radius: 30px;
  border-width: 3px;
  margin: 50px;
  text-align: center;
  width: 30%;
}

.btn {
  background-color: rgba(255, 133, 45, 0.452);
  border: 1px solid;
  border-color: #333;
  border-radius: 15px;
  border-width: 2px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
}

.btn:hover {
  background-color: rgba(255, 132, 45, 0.781);
  border: 2px solid;
  font-weight: bold;
}

.btn:active {
  background-color: rgb(255, 85, 0);
  border: 3px solid;
  font-weight: bolder;
}

.btn-hold {
  margin-top: 5vh;
  display: none;
}

.btn-new {
  margin-top: 5vh;
  display: block;
}

.btn-roll {
  margin-top: 20vh;
  display: none;
}

.current-score {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 40px;
}

.player-1 {
  float: left;
}

.player-2 {
  float: right;
}

.player-active {
  background-color: rgba(255, 128, 0, 0.895);
}

.total-score {
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 80px;
}
